[submodule ".vim/bundle/xml.vim"]
	path = .vim/bundle/xml.vim
	url = https://github.com/othree/xml.vim
[submodule ".vim/bundle/winmanager"]
	path = .vim/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = git@github.com:fmpdceudy/javacomplete.git
