[submodule ".vim/bundle/winmanager"]
	path = .vim/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/vim-scripts/neocomplcache.git
[submodule ".vim/bundle/perlomni"]
	path = .vim/bundle/perlomni
	url = https://github.com/c9s/perlomni.vim.git
[submodule ".vim/bundle/xml"]
	path = .vim/bundle/xml
	url = https://github.com/othree/xml.vim
[submodule ".vim/bundle/sudo"]
	path = .vim/bundle/sudo
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule ".vim/bundle/javacomplete"]
	path = .vim/bundle/javacomplete
	url = https://github.com/fmpdceudy/javacomplete.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/VimExplorer"]
	path = .vim/bundle/VimExplorer
	url = https://github.com/mbbill/VimExplorer.git
[submodule ".vim/bundle/NERD"]
	path = .vim/bundle/NERD
	url = https://github.com/vim-scripts/The-NERD-tree.git
